$navbarHeight: 10vh;
$containerHeight: 100vh - $navbarHeight;

.container {
  // border: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $containerHeight;
  .form {
    width: min(360px, 90vw);
    box-shadow: 2px 2px 5px #c39a9a;
    border-radius: 10px;
    padding: 30px;
    // background-color: rgb(228, 230, 233);
  }
}
.navbar {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  height: $navbarHeight;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px wheat;
  border-bottom: 0.1px solid rgb(188, 183, 183);
  .theme {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    &:hover {
      background-color: rgb(192, 187, 187);
    }
  }
}
.dark-navbar {
  background-color: black;
  .theme {
    color: white;
  }
}
.dark-container {
  background-color: black;
  .form{
    box-shadow: none;
    border: 0.1px solid white;
    label {
      color: white;
    }
    p {
      color: #e7e7e7;
    }
    .link{
      color: orange;
    }
  }
}

